label {
  color: #fff;
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  margin: 2rem auto;
  max-width: 600px;
  text-align: center;
  background: #1a1919;
  padding: 1.2rem 1rem;

}

.form a {
  padding: 1.5rem 0 0 0;
  font-size: 1.2rem;
}

.form a:last-child {
  padding: 1.5rem 0 1.5rem 0;
}

form input,
form textarea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
}